.classpath
stream-core/.classpath
stream-plugin/.classpath
.swp
.settings
target
syntax: regexp
^target$
^.settings
target$
stream-mapred/data/
stream-mapred/stream-mapred.jar
^stream-plugin/src/generated-sources
stream-plugin/src/generated-sources
/releases
.build_tmp
.rpmbuild
*.aux
*.toc
stream-plotter/pom.xml.releaseBackup
stream-runtime/pom.xml.releaseBackup
stream-storm/pom.xml.releaseBackup
stream-api/pom.xml.releaseBackup
stream-core/pom.xml.releaseBackup
#intellij stuff
.idea/
*.iml
dependency-reduced-pom.xml
streams-performance/doc/streams-performance.log
streams-performance/doc/streams-performance.pdf
streams-performance/test.log
streams-performance/test.pdf
streams-performance/test.tex
