body {
	margin: 0px;
	padding: 0px;
}

body, p, div, li {
	font-family: verdana,sans-serif;
}

div.header {
	background-color: #444;
	height: 28px;
}

div.content {
	margin: auto;
	padding: 20px;
}


div.container {
	border: solid 1px #d0d0d0;
	margin: auto;
}

//.container:hover {
//	border: solid 1px #a0a0a0;
//}


.metainf {
	background-color: #e0e0e0;
}

h1, h2, h3 {
	margin: 0px;
	padding: 4px;
	color: #444;
}

.metainf h1 {
	font-size: 22px;
}

.process .header, .stream .header {
	font-size: 18px;
	background-color: #f0f0f0;
	padding: 2px;
}

.process, .stream {
	margin: 10px;
	margin-left: 20px;
	border: solid 1px #d0d0d0;
}

.stream {
	background-color: #d0d0d0;
}

.header .name {
	font-weight: bold;
}

.process:hover {
	border: solid 1px #a0a0a0;
}

.processor {
	margin-left: 20px;
	border: solid 1px #d0d0d0;
	padding: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 14px;
}

.processor:hover {
	border: solid 1px #a0a0a0;
}

.processor .name {
	font-weight: bold;
	font-size: 14px;
}

.processor h1 {
	font-size: 14px;
}

.attributes .attribute {
	
}

.attributes .attributeValue {
	font-family: Monospace;
}