<div class='list'>
	<div class='title'>Available Services</div>

	<div style='width: 600px;'>
	<p>
		The following table lists the services currently available in the
		running process. They are exported via RMI and can be accessed
		via <code>rmi://${stream.service.rmi.host}:${stream.service.rmi.port}/&lt;service-name&gt;</code>.
	</p>
	<p>
		Some services do provide a renderer and can be displayed via this
		web interface. Those services do provide a hyperlink at their
		service name below:
	</p>
	</div>
	

	<div class='list-content'>
		${content}
	</div>
</div>